.personCell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--padding-top);
  padding-right: var(--padding-right);
  padding-bottom: var(--padding-bottom);
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  user-select: none;
}

.personCell__elements {
  margin-right: 16px;
}
