.dataCel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  border-bottom: 1px solid var(--border-color);
}
