.text {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
}

.text :is(h1, h2, h3, h4, h5) {
  font-size: var(--font-size-lg);
  font-weight: inherit;
}

.text--black {
  color: var(--font-color-black);
}

.text--red {
  color: var(--font-color-red);
}

.text--white {
  color: var(--font-color-white);
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--lg {
  font-size: var(--font-size-lg);
}

.text--bold {
  font-weight: var(--font-weight-bold);
}
