.icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icon .spinner {
  cursor: initial;
  animation: rotate 2s linear infinite;
  z-index: -1;
}

.icon--sm {
  width: 12px;
  height: 12px;
}

.icon--lg {
  width: 24px;
  height: 24px;
}

.icon--placeholder {
  background: var(--font-color-gray);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
